:root{
    --clr-primary:      hsl(92, 20%,  50%);
    --clr-accent:       hsl(92, 20%,  40%);
    --clr-primary-dark: hsl(92, 20%,  10%);
    --clr-light:        hsl(0, 0%, 100%);
}


*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-size: 24px;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
}
/* CURRENT WEATHER STYLES AND GRID */
.weather{
    padding:1rem;
    height:100vh;
    width:100vw;
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 1fr);
    gap:1rem;
    background-color: var(--clr-accent);
    color:var(--clr-primary-dark);
}
.weather > div{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid var(--clr-primary-dark); */
    height:100%;
    width:100%;
}

#searchbar{
    grid-column: span 12;
    grid-row: span 2;
    
}
#search{
    padding:1rem;
    height: 100%;
    width:80%;
}
#searchSubmit{
    height: 100%;
    width: 20%;
    border: none;
    background-color: var(--clr-primary-dark);
    color:var(--clr-light)
    
}
#save-search{
    grid-column: span 12;
}
.search-history-button{
    padding:1rem 1.25rem;
    margin:0 1rem;
    background: var(--clr-primary-dark);
    color: var(--clr-light);
}
#current-cityname,
#current-date,
#current-conditions,
#current-temp,
#current-humidity,
#current-windspeed,
#current-uvindex{
    background: var(--clr-primary);
}

#current-cityname{
    grid-column: span 8;
    grid-row: span 2;
}
#current-date{
    grid-column: span 4;
    grid-row: span 2;
}
#current-conditions{
    grid-column: span 6;
    grid-row: span 8;
    background: var(--clr-primary-dark);
}
#current-condition-description{
    color: var(--clr-light);
    text-align: center;
}
#current-temp,
#current-humidity,
#current-windspeed,
#current-uvindex{
    grid-column:span 6 ;
    grid-row: span 2;
}
.extreme-uv{
    box-shadow: inset 0 0 25px 5px purple;
}
.very-high-uv{
    box-shadow: inset 0 0 25px 5px red;
}
.high-uv{
    box-shadow: inset 0 0 25px 5px orange;
}
.medium-uv{
    box-shadow: inset 0 0 25px 5px yellow;
}
.low-uv{
    box-shadow: inset 0 0 25px 5px green;
}
#five-day-forcast{
    grid-column: span 12;
    grid-row: span 8;
    font-size: 16px;
}
.day{
    margin: 0.5rem;
    padding:1rem;
    grid-column: span 2;
    background: var(--clr-primary);
    text-align: center;
}
